@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Rich-Text Editor */
.tiptap p.is-editor-empty:first-child::before {
  opacity: 80%;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Emojis */
em-emoji-picker {
  --background-rgb: 24, 25, 28;
  --rgb-background: 24, 25, 28;
  --rgb-accent: 26, 92, 255;
  --border-radius: 24px;
  border: 1px solid #363f54;
  height: 300px;
}

/* Toasts */
.Toastify__toast-container {
  @apply z-[999] max-w-[400px] text-secondary;
}
.Toastify__toast {
  @apply w-full max-w-[400px] border border-accent bg-base-100 !pr-8;
}
